.loader {
   
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.57s, visibility 0.75s;
    z-index: -2;

      &.hidden {
        opacity: 0;
        visibility: hidden;
    }

}


.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: $green;
    border-radius: 50%;
    animation: loader 0.75s ease infinite;
}

@keyframes loader {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}